html {
    min-height: 100%;
    position: relative;
}

body {
    margin-top: 10px;
    margin: 0;
    margin-bottom: 150px;
}

.jumbotron {
    background-color: yellow;
    color: black;
    height: 150px;
}

.footer {
    background-color: yellow;
    color: black;
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}

.form {
    padding-left: 20px;
    padding-right: 20px;
}

.icon-reserva {
    padding-right: 5px;
}

.tab-content {
    padding-top: 10px;
}