<div class="container content">
    <div class="row">
        <h1>
            {{ title }}
        </h1>
    </div>
    <app-lista-destinos></app-lista-destinos>
</div>

<router-outlet></router-outlet>